<app-nav></app-nav>
<router-outlet></router-outlet>
<app-login></app-login>

<!--<app-authors></app-authors>-->
<!--<h2>Ovo je nasa glavna komponenta.</h2>

<app-ukupno></app-ukupno>
<courses></courses>-->
<!--<app-course-details [courseId]='0'></app-course-details>
<app-course-details [courseId]='1'></app-course-details>
<app-course-details [courseId]='2'></app-course-details>
-->
<!--<img [src]="putanja"
 alt="slika" 
 [width]="sirina" 
 height="300">



 <button [class.active]='isActive ? true : false' class="btn btn-primary"
 [style.backgroundColor]='isActive ? "black" : "red"'
 (click)="onSave($event)"
 >Snimi promene</button>

 <input placeholder="Ime"
 #ime
 type="text" (keyUp.enter)="onKeyUp(ime.value)">

 <input malaslova placeholder="Email" type="text" [(ngModel)]="email" name="email">

 <p>{{ email }}</p>

 <app-sign-up></app-sign-up>-->